html,body{
    width: 100%;
    margin: auto;
}
/* ----------homepage------------- */
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
    background-color: white;
    width: 500px;
    text-align: center;
    clear: both;
    border: 2px solid black;
    box-shadow: 0px 8px 16px 0px;
    border-radius: 12px;
    padding: 5px;
}
.head2{
    margin-left: 200px;
}
#nav{
    position: relative;
}
.navbar{
border: solid 2px black;
background-color: black;
height: 100px;
text-align: center;
}
.navbar a{
    color: white;
    font-size: 30px;
    padding: 20px;
    text-decoration: none;
    display: inline;
    font-family: 'Times New Roman', Times, serif;
}
.navbar a:hover{
    color: deeppink;
}
.navindex{
margin-top: 15px;
}
/* dropdown */
.dropdownmenu{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px;
    z-index: 1;
}
.dropdownmenu a{
    text-decoration: none;
    display: block;
    font-size: 16px;
    color: black;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown:hover .dropdownmenu{
    display: block;
}


.coffeelogo{
    width: 280px;
    height: 150px;
    position: relative;
}
/* coffee */
.coffeimg{
    width: 300px;
    height: 240px;
    position: relative;
    box-shadow:  5px 0px 8px 0px ;
}
.menu1,.menu2,.menu3{
    float: left;
    border: solid 2px black;
    height: 450px;
    width: 350px;
    padding-right: 100px;
    border: none;
}
.menubar-container{
    margin-left: 15px;
}
.menu4,.menu5,.menu6{
    float: left;
    border: solid 2px black;
    height: 450px;
    width: 350px;
    padding-right: 100px;
    border: none; 
}
.week{
    width: 450px;
    height: 300px;
    float: right;
    position: relative;
    box-shadow:  5px 0px 8px 0px ;
}
.week-specials{
    clear: both;
    background-image: url(https://dm2306files.storage.live.com/y4m4wcMbFuPYxr0ixFa9NlojUAQdjD0rbfamapuBMnqnpJ6s-EbYpd_P77WqjbCZ0QXvl0xr7XfDYXcYrVTg4lEHZquHCaMJ-YWNtA52Q771dVsF7hJKN0mzbN1U_s8reSW7wKX53i9eKyz26JkyYTFxegM2s3L35KkeeEMPaXTg9vnz7SzX4ZgmAr2dotby0IF?width=1920&height=1275&cropmode=none);

}
.weekspecial{
    border: solid 2px black;
    /* height: 550px; */
    /* width: 900px; */
    width: 100%;
    height: 450px;
    box-shadow:  5px 0px 8px 0px ;
}
/* cakes */
.cake{
    width: 300px;
    height: 250px;
   position: relative;
   box-shadow:  5px 0px 8px 0px ;
}
.todays-specials{
    margin-top: 25px;
}
.specials1,.specials2,.specials3,.specials4{
    border: solid 2px black;
    height: 500px;
    width: 350px;
    padding-right: 100px;
    float: left;
    border: none;
}
/* ------------------ */
/* shakes */
.shakes{
    width: 300px;
    height: 250px;
   position: relative;
   box-shadow:  5px 0px 8px 0px ;
}
.shakes1{
    border: solid 2px black;
    height: 500px;
    width: 350px;
    padding-right: 100px;
    float: left;
    border: none;
}
/* ------------ */
.coustomer-reviews{
    clear: both;
    position: relative;
    margin-left: 150px;
    font-weight: bold;
    font-size: 20px;
}
#submit{
    font-size: 20px;
    margin-left: 300px;
}
/* ================footer================= */
.social{
    width: 45px;
    height: 45px;
    padding: 8.5px;
}
.footer{
    background-color: black;
    height: 300px;
    margin-top: 25px;
    font-size: 22px;
    text-align: center;
    clear: both;
}
.footercontents{
    padding-top: 70px;
    color: white;
}
/* form */
#name:hover  , #review:hover{
    color: deeppink;
    border: solid 2px blue;
    zoom: 1.25;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
