html,body{
    width: 100%;
    margin: auto;
}
/* ----------homepage------------- */
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
    border: solid 2px black;
    background-color: grey;
    width: 350px;
    margin-left: 550px;
}
#nav{
    position: relative;
}
.navbar{
border: solid 2px black;
background-color: black;
height: 100px;
text-align: center;
}
.navbar a{
    color: white;
    font-size: 30px;
    padding: 20px;
    text-decoration: none;
}
.navbar a:hover{
    color: deeppink;
}
.navindex{
margin-top: 15px;
}
.logo{
    text-align: center;
}
.coffeelogo{
    width: 280px;
    height: 150px;
    position: relative;
}

.coffeimg{
    width: 300px;
    height: 240px;
    position: relative;
}
.menu1,.menu2,.menu3{
    float: left;
    border: solid 2px black;
    height: 450px;
    width: 350px;
    padding-right: 100px;
    border: none;
}
.menubar-container{
    margin-left: 15px;
}
.menu4,.menu5,.menu6{
    float: left;
    border: solid 2px black;
    height: 450px;
    width: 350px;
    padding-right: 100px;
    border: none; 
}
.week{
    width: 450px;
    height: 300px;
    float: right;
    position: relative;
}
.week-specials{
    clear: both;
}
.weekspecial{
    border: solid 2px black;
    height: 400px;
}

.cake{
    width: 300px;
    height: 250px;
   position: relative;
}
.todays-specials{
    margin-top: 25px;
}
.specials1,.specials2,.specials3{
    border: solid 2px black;
    height: 500px;
    width: 350px;
    padding-right: 100px;
    float: left;
    border: none;
}