html,body{
    width: 100%;
    margin: auto;
}
/* ----------homepage------------- */
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
    border: solid 2px black;
    background-color: grey;
    width: 500px;
    text-align: center;
    clear: both;
}
.head2{
    margin-left: 200px;
}
#nav{
    position: relative;
}
.navbar{
border: solid 2px black;
background-color: black;
height: 100px;
text-align: center;
}
.navbar a{
    color: white;
    font-size: 30px;
    padding: 20px;
    text-decoration: none;
}
.navbar a:hover{
    color: deeppink;
}
.navindex{
margin-top: 15px;
}
.logo{
    text-align: center;
}
.coffeelogo{
    width: 280px;
    height: 150px;
    position: relative;
}

.coffeimg{
    width: 300px;
    height: 240px;
    position: relative;
}
.menu1,.menu2,.menu3{
    float: left;
    border: solid 2px black;
    height: 450px;
    width: 350px;
    padding-right: 100px;
    border: none;
}
.menubar-container{
    margin-left: 15px;
}
.menu4,.menu5,.menu6{
    float: left;
    border: solid 2px black;
    height: 450px;
    width: 350px;
    padding-right: 100px;
    border: none; 
}
.week{
    width: 450px;
    height: 300px;
    float: right;
    position: relative;
}
.week-specials{
    clear: both;
}
.weekspecial{
    border: solid 2px black;
    height: 550px;
    width: 900px;
    margin-left: 25px;
}

.cake{
    width: 300px;
    height: 250px;
   position: relative;
}
.todays-specials{
    margin-top: 25px;
}
.specials1,.specials2,.specials3,.specials4{
    border: solid 2px black;
    height: 500px;
    width: 350px;
    padding-right: 100px;
    float: left;
    border: none;
}
.coustomer-reviews{
    clear: both;
    position: relative;
    margin-left: 150px;
    font-weight: bold;
    font-size: 20px;
}
#submit{
    font-size: 20px;
    margin-left: 300px;
}
/* ================footer================= */
.social{
    width: 45px;
    height: 45px;
    padding: 8.5px;
}
.footer{
    background-color: black;
    height: 300px;
    margin-top: 25px;
    font-size: 22px;
    text-align: center;
}
.footercontents{
    padding-top: 70px;
    color: white;
}